<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1">Angular Learning Day 3</span>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a
        class="nav-link"
        [routerLink]="['']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active"
        >About</a
      >
      <a class="nav-link" [routerLink]="['/dev']" routerLinkActive="active"
        >Dev</a
      >
      <a class="nav-link" [routerLink]="['/finance']" routerLinkActive="active"
        >Finance</a
      >
      <a class="nav-link" [routerLink]="['/hr']" routerLinkActive="active"
        >HR</a
      >
    </div>
  </div>
</nav>
